# ============================================
# Next.js Frontend Environment Variables
# 이 파일을 .env.local로 복사해 실제 값을 입력하세요
# ⚠️ .env.local 파일은 Git에 커밋하지 마세요
# ============================================

# --------------------------------------------
# 공개 환경 변수 (브라우저 노출)
# 반드시 NEXT_PUBLIC_ 접두사 사용
# --------------------------------------------

# 백엔드 API Base URL
# 예:
# - local: http://localhost:4000
# - dev:   https://api-dev.eduops.com
# - prod:  https://api.eduops.com
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_API_BASE_URL_SVC=
# 프런트엔드 앱 URL
# 예: http://localhost:3000
NEXT_PUBLIC_APP_URL=
# 앱 환경
# local | development | production
NEXT_PUBLIC_APP_ENV=local

# 앱 이름 (선택)
NEXT_PUBLIC_APP_NAME=EduOps

# 기능 플래그 (선택)
NEXT_PUBLIC_ENABLE_MOCK_API=false

# Sentry (!절대로 개발환경에서만 true로두세요 운영환경에선 false)
# true일경우: 사용자의 IP 주소 로그인된 사용자의 ID나 이메일 (쿠키나 세션에 포함된 경우) 요청 헤더의 민감한 쿠키 정보를 긁어갑니다.
#(사용자 동의 없이 가져갈 경우 개인정보보호법이슈, sentry가 털릴시 다 털릴수도있음)
NEXT_PUBLIC_SENTRY_SEND_PII=false
SENTRY_SEND_PII=false
NEXT_PUBLIC_GA_ID=G-XXXXXXX

# --------------------------------------------
# 주의
# --------------------------------------------
# 아래 항목들은 프론트엔드에서 사용하지 않습니다.
# (백엔드 레포의 .env.example에서 관리하세요)
#
# - DATABASE_URL
# - API_KEY / SECRET
# - STRIPE_SECRET_KEY
# - SENDGRID_API_KEY
# - NEXTAUTH_SECRET

# Toss Payments
NEXT_PUBLIC_TOSS_PAYMENTS_CLIENT_KEY=YOUR_TOSS_PAYMENTS_CLIENT_KEY
